@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FightThis';
  src: url('./assets/fonts/FIGHTT__.ttf');
  font-weight: normal;
  font-style: normal;
}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  font-family: fantasy;
  letter-spacing: 1px;
}

body {
  background: rgb(4, 12, 14);
  background: linear-gradient(
    313deg,
    #040c0e 0%,
    #132226 63%,
    rgba(54, 58, 55, 1) 89%,
    rgba(111, 99, 84, 1) 100%
  );
}
.dropdownbg {
  background: rgb(4, 12, 14);
  background: linear-gradient(
    313deg,
    #040c0e 0%,
    #132226 63%,
    rgb(43, 48, 43) 89%,
    rgb(70, 63, 59) 100%
  );
}
.depthshaddow {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(19, 24, 49, 0.5),
    inset 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.boxshaddow {
  box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.gridSystem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 20rem));
}

.cardBoxShaddow {
  box-shadow: 2px 23px 28px 13px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 23px 28px 13px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 23px 28px 13px rgba(0, 0, 0, 0.7);
}

.blackbg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.42720763723150357) 0%,
    rgba(0, 0, 0, 1) 17%,
    rgba(0, 0, 0, 1) 100%
  );
  backdrop-filter: blur(1px);
}

.overLay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, transparent, #121212 70%);
}

.authpagebg {
  background-image: url('./assets/background/authbg.webp');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.signupbg {
  background: linear-gradient(to right, transparent, #000000 40%);
  width: 100vw;
  height: 700px;
}

.bretImg {
  transform: scaleX(-1);
}

.element-without-scrollbar {
  /* Hide the default scrollbars */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* Add custom scrollbar styles */
}

/* Add custom scrollbar styles for WebKit browsers (Chrome, Safari) */
.element-without-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.element-without-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.element-without-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='range'] {
  width: 100%;
  margin: 4.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  background: rgba(113, 124, 155, 0.8);
  border: 0.3px solid #706d75;
  width: 100%;
  height: 0px;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -4.8px;
  width: 30px;
  height: 9px;
  background: #ffffff;
  border: 0.6px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #bfc4d2;
}
input[type='range']::-moz-range-track {
  background: rgba(113, 124, 155, 0.8);
  border: 0.3px solid #706d75;
  width: 100%;
  height: 0px;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  width: 30px;
  height: 9px;
  background: #ffffff;
  border: 0.6px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}
input[type='range']::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 12.3px 0;
  color: transparent;
  width: 100%;
  height: 0px;
  cursor: pointer;
}
input[type='range']::-ms-fill-lower {
  background: #383e4f;
  border: 0.3px solid #706d75;
}
input[type='range']::-ms-fill-upper {
  background: rgba(113, 124, 155, 0.8);
  border: 0.3px solid #706d75;
}
input[type='range']::-ms-thumb {
  width: 30px;
  height: 9px;
  background: #ffffff;
  border: 0.6px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type='range']:focus::-ms-fill-lower {
  background: rgba(113, 124, 155, 0.8);
}
input[type='range']:focus::-ms-fill-upper {
  background: #bfc4d2;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type='range'] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
